.button_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	width: 35px;
	height: 30px;
	margin: 20px 9px;
	background-color: var(--colorOrange2);
	border: none;
	cursor: pointer;
	/* border-radius: 4px; */
}

.current_page {
	color: var(--colorGrey1);
	padding: 10px;
	text-align: center;
}

@media (max-width: 500px) {
	.current_page {
		font-size: 0.9em;
		padding: 6px;
		width: 60px;
	}
}
