.button_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	width: 35px;
	height: 30px;
	margin: 20px 9px;
	background-color: var(--colorOrange2);
	box-shadow: 0 0 0 1pt var(--colorOrange);
	border: none;
	cursor: pointer;
}

.button:focus {
	box-shadow: 0 0 0 1pt var(--colorGrey4), 0 0 0 2pt var(--colorOrange);
	outline: none;
}

.current_page {
	color: var(--colorGrey1);
	padding: 10px;
	text-align: center;
}

@media (max-width: 500px) {
	.current_page {
		font-size: 0.9em;
		width: 60px;
	}
}
