.genre_container {
	max-width: 500px;
	min-width: 320px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.genre_tile {
	font-size: 0.8em;
	padding: 5px 10px;
	margin: 3px;
	border: 1px solid var(--colorGrey2);
	background-color: var(--colorGrey5);
	color: var(--colorGrey1);
	cursor: pointer;
}

.genre_tile:hover {
	background-color: var(--colorGrey3);
}

.genre_tile.active {
	background-color: var(--colorOrange2);
	color: var(--colorGrey5);
}

.genre_tile:focus {
	outline: thin dotted var(--colorOrange);
}
