.actor_container {
	width: 100%;
	max-width: 500px;
	margin-top: 15px;
}

.actor_name {
	color: var(--colorOrange);
	padding-bottom: 10px;
}

.actor_bio {
	color: var(--colorGrey1);
	border-top: 5px solid var(--colorOrange);
	padding-top: 15px;
}

.homepage_link {
	text-decoration: none;
	color: var(--colorGrey5);
	background: linear-gradient(165deg, var(--colorOrange), var(--colorOrange2));
	padding: 10px;
	margin: 10px 0 50px;
	display: block;
	font-weight: 500;
	text-align: center;
}
