.language_btn_container {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	font-size: 0.8em;
	position: absolute;
	top: 23px;
	left: 27px;
}

.language_btn {
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;
	font-size: 0.8em;
	padding: 5px 10px;
	margin: 4px;
	border: 1pt solid var(--colorGrey2);
	background-color: var(--colorGrey5);
	color: var(--colorGrey1);
	cursor: pointer;
	border-radius: 50%;
	transition: background-color 0.5s, border 0.5s, box-shadow 0.5s, color 1s;
}

.language_btn:focus.dark {
	border: none;
	box-shadow: 0 0 0 2pt var(--colorGrey2);
}

.language_btn:hover {
	background-color: var(--colorGrey3);
}

.language_btn:focus {
	border: 1pt solid var(--colorOrange);
	outline: none;
}

.language_btn.active {
	background-color: var(--colorOrange);
	color: var(--colorGrey5);
	font-weight: 600;
}

.language_btn.active:focus {
	border: 1pt solid var(--colorGrey3);
	box-shadow: 0 0 0 1pt var(--colorOrange);
}

.info {
	color: var(--colorGrey1);
	margin-left: 10px;
	font-size: 0.8em;
}

@media (max-width: 599px) {
	.language_btn_container {
		top: 18px;
	}
}

@media (max-width: 540px) {
	.info {
		max-width: 180px;
	}
}

@media (max-width: 390px) {
	.info {
		display: none;
	}
}
