.movie_searchbar_container {
	display: flex;
	justify-content: center;
	position: relative;
}

.movie_search {
	font-size: 16px;
	display: block;
	margin: 30px auto 5px;
	padding: 10px;
	width: 90%;
	max-width: 600px;
	background-color: var(--colorGrey3);
	color: var(--colorOrange);
	border: none;
	border-bottom: 1px solid var(--colorOrange);
}

.movie_search::placeholder {
	color: var(--colorGrey1);
}

.movie_search:focus {
	border: none;
	/* border-bottom: 1px solid var(--colorGrey1); */
	outline: thin dotted var(--colorOrange);
}

.search_icon {
	color: var(--colorGrey1);
}

.search_results_list {
	background-color: var(--colorGrey5);
	list-style: none;
	width: 100%;
	position: absolute;
	top: 74px;
}
