.actor {
	border: 3px solid var(--colorOrange);
	box-sizing: content-box;
	padding: 3px;
	margin: 10px;
}

.actor_headshot {
	width: 141px;
	height: 210px;
}

.actor_no_headshot {
	width: 141px;
	height: 210px;
	background-color: var(--colorGrey3);
	color: var(--colorGrey1);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4em;
}

.actor_info {
	padding: 5px 10px 20px;
}

.actor_name {
	font-size: 1.3em;
	line-height: 1.2em;
	color: var(--colorOrange);
	margin-bottom: 10px;
}

.actor_character {
	font-size: 1.1em;
	font-weight: 400;
}

.link {
	text-decoration: none;
}

@media (max-width: 380px) {
	.actor {
		height: 280px;
		margin: 6px;
	}

	.actor_headshot {
		width: 110px;
		height: 165px;
	}

	.actor_no_headshot {
		width: 110px;
		height: 165px;
	}

	.actor_name {
		font-size: 1em;
	}
	.actor_character {
		font-size: 0.9em;
	}
}
