.link {
	text-decoration: none;
	display: flex;
	/* justify-content: center; */
}

.link:focus {
	outline: thin dotted var(--colorOrange);
}

.movie_tile {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 225px;
	height: 225px;
	background-color: var(--colorGrey4);
	margin: 25px;
	border-left: 1px solid var(--colorOrange);
	border-top: 1px solid var(--colorOrange);
	border-right: 1px solid var(--colorOrange2);
	border-bottom: 1px solid var(--colorOrange2);
	overflow: hidden;
}

.image_container {
	height: 70%;
	font-size: 3em;
	overflow: hidden;
	height: 173px;
	background-color: var(--colorGrey2);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--colorGrey1);
}

.image {
	height: 100%;
}

.movie_title {
	height: 30%;
	line-height: 1.3em;
	color: var(--colorGrey1);
	padding: 0 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.movie_release_year {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
	color: var(--colorGrey5);
	background: linear-gradient(160deg, var(--colorOrange), var(--colorOrange2));
}

.movie_tile:hover .movie_title {
	color: var(--colorOrange);
}

@media (max-width: 599px) {
	.movie_tile {
		width: 300px;
		height: 290px;
	}

	.movie_title {
		font-size: 1.3em;
	}
}

@media (max-width: 350px) {
	.movie_tile {
		width: 250px;
		height: 245px;
	}
}
