@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

:root {
	--primaryFont: 'Jost', sans-serif;
	--colorOrange: rgb(255, 187, 0);
	--colorOrange2: rgb(236, 201, 103);
	--colorGrey: rgb(200, 200, 200);
	--colorGrey1: rgb(140, 140, 140);
	--colorGrey2: rgb(68, 68, 68);
	--colorGrey3: rgb(51, 51, 51);
	--colorGrey4: rgb(34, 34, 34);
	--colorGrey5: rgb(17, 17, 17);
	font-family: var(--primaryFont);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	min-height: 100vh;
	padding: 40px 30px 0 30px;
	background: var(--colorGrey);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overscroll-behavior-y: contain;
	transition: background 0.5s;
}

.app.dark {
	background: var(--colorGrey5);
}

button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input {
	font-family: var(--primaryFont);
}

.no_select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: var(--colorGrey4);
	border-radius: 100px;
}

::-webkit-scrollbar-thumb {
	background: var(--colorGrey2);
	border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
