@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

:root {
	font-family: 'Jost', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	padding: 40px 100px 0 100px;
	background-color: #111;
}

button {
	font-family: 'Jost', sans-serif;
}

.app {
	max-width: 900px;
}
